<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>


<% if @beer_club.memberships.empty? %>
    <p>No members yet!</p>

<% else %>

    <p><%= @beer_club.memberships.count %> members: </p>
    <p>
    <ul>
      <% @beer_club.memberships.each do |membership| %>
          <li> <%= link_to membership.user.username, membership.user %></li>
      <% end %>
    </ul></p>
<% end %>
<p>
  <% if current_user and not @beer_club.users.include? current_user %>
      <%= form_for(@membership) do |f| %>
          <%= f.hidden_field :beer_club_id %>
          <%= f.submit value: "join the club" %>
      <% end %>
  <% end %>

  <% if current_user and @beer_club.users.include? current_user %>
      <%= form_for(@membership, method: "delete") do |f| %>
          <%= f.hidden_field :beer_club_id %>
          <%= f.submit value: "end the membership" %>
      <% end %>
  <% end %>
</p>
<%= edit_and_destroy_buttons(@beer_club)%>
<p>
  <%= link_to 'Back', beer_clubs_path, class: 'btn btn-success' %></p>
