<h1>All Ratings</h1>

Number of ratings <%= @ratings.count %>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Rated Beer</th>
    <th>Score</th>
    <th>User</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <% @ratings.each do |rating| %>
  <tr>
      <td><%= rating.beer %></td>
    <td><%= rating.score %></td>
      <td><%= link_to rating.user.username, rating.user %></td>

  </tr>

  <% end %>


  </tbody>
</table>

<%if current_user%>
<%= link_to "create new", new_rating_path, class: 'btn btn-success' %>

<%end%>
