<p id="notice"><%= notice %></p>

<h1>Listing Breweries</h1>


<p>Number of active breweries: <%= @breweries.count %> </p>
<%= render 'table', breweries:@breweries%>

<h2>retired</h2>
 <%= render 'table', breweries:@inactiveBreweries %>

<br>


    <%= link_to 'New Brewery', new_brewery_path, class: "btn btn-success" if current_user%>
