<p id="notice"><%= notice %></p>

<h1>Listing Breweries</h1>

<% cache "brewerylist-#{@order}", skip_digest: true do %>
    <p>Number of active breweries: <%= @active_breweries.count %> </p>
    <%= render 'table', breweries: @active_breweries %>

    <h2>retired</h2>
    <%= render 'table', breweries: @inactive_breweries %>

    <br>

<% end %>
<%= link_to 'New Brewery', new_brewery_path, class: "btn btn-success" if current_user %>
