

<%= link_to activity_toggle_label_name(@brewery),
            toggle_activity_brewery_path(@brewery.id),
            method: :post, class: "btn btn-primary" %>

<p>

<% cache @brewery do %>
<h2><%= @brewery.name %></h2>

</p>

<p>
  <i>Established in  <%= @brewery.year %></i>

</p>

<p><strong>Number of beers manufactured by this brewery:</strong>
  <%= @brewery.beers.count %>
</p>



<p>
    <table class="table table-hover">
      <thead>
      <tr>
        <th><%= link_to 'Name', beers_path(order: "name") %></th>
        <th><%= link_to 'Style', beers_path(order: "style") %></th>
        <th><%= link_to 'Brewery', beers_path(order: "brewery") %></th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @brewery.beers.each do |beer| %>

          <tr>
            <td><%= link_to beer.name, beer %></td>
            <td><%= link_to beer.style.name, beer.style %></td>
            <td><%= link_to beer.brewery.name, beer.brewery %></td>

            <td><%= link_to('Edit', edit_beer_path(beer), class: 'btn btn-success') if current_user %></td>
            <td><%= link_to('Destroy', beer, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger") if current_user %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

     

</p>

<p>
  <% if @brewery.ratings.empty? %>
      Brewery has no ratings yet!
  <% else %>
      Has <%= @brewery.ratings.count %> <%= "rating".pluralize(@brewery.ratings.count) %>,
      average <%= @brewery.average_rating %>

  <% end %>

</p>
<%end%>

<%= edit_and_destroy_buttons(@brewery)%>
  <%= link_to 'Back', breweries_path, class: 'btn btn-success' %>
