<p id="notice"><%= notice %></p>


<h2><%= @beer.name %></h2>



<p>
  <strong>Style:</strong>
  <%= @beer.style.name %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery.name %>
</p>

<p>
  <% if @beer.ratings.empty? %>
      Beer has not yet been rated!
  <% else %>
      Has <%= @beer.ratings.count %> <%= "rating".pluralize(@beer.ratings.count) %>,
      average <%= round(@beer.average_rating) %>

  <% end %>



</p>

<% if current_user %>

    <p> <h4>give a rating:</h4>

    <%= form_for(@rating) do |f| %>
        <%= f.hidden_field :beer_id %>
        score: <%= f.number_field :score %>
        <%= f.submit %>
    <% end %>
</p>


<%end%>

<%= link_to 'Back', beers_path, class: 'btn btn-success' %>
<%= edit_and_destroy_buttons(@beer)%>
